<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
        bootstrap="./tests/Bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        timeoutForLargeTests="60"
        timeoutForMediumTests="10"
        timeoutForSmallTests="1"
        verbose="false"
        >
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="PHP_TELEGRAM_BOT_API_KEY" value="123:testing"/>
        <const name="PHPUNIT_TESTSUITE" value="true" />
    </php>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/config</directory>
                <directory suffix=".stub">./src/database</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
